.argumentation-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box;
}

.argumentation-header--intro,
.argumentation-header--actions,
.argumentation-header--sorter {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.argumentation-header--actions {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .argumentation-header--intro {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
  }

  .argumentation-header--actions,
  .argumentation-header--sorter {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 0;
  }
}

.arguments__col-titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
}

h3#con_arguments {
  text-align: right;
}

@media (min-width: 975px) {
  h3#con_arguments {
    text-align: left;
  }
}

.arguments__col {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 1em;
  padding-bottom: 1em !important;
}

.arguments__col .argument {
  margin: 0;
}

.arguments__col .argument-pro {
  grid-column-start: 1;
  grid-column-end: 3;
}
.arguments__col .argument-contra {
  grid-column-start: 2;
  grid-column-end: 4;
}

@media (min-width: 500px) {
  .arguments__col {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

@media (min-width: 768px) {
  .arguments__col {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (min-width: 975px) {
  .arguments__col {
    grid-template-columns: 1fr 1fr;
  }

  .arguments__col .argument-pro {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .arguments__col .argument-contra {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (max-width: 974px) {
  .toolbar-vertical.toolbar-tray-open .arguments__col {
    grid-template-columns: 1fr 6fr 1fr;
  }

  .toolbar-vertical.toolbar-tray-open .arguments__col .argument-pro {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .toolbar-vertical.toolbar-tray-open .arguments__col .argument-contra {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
