{{ attach_library('arguments/arguments.list') }}
<section{{ attributes.addClass('arguments') }}>

  <div class="arguments__col-titles">
    {{ content.pro_title }}
    {{ content.con_title }}
  </div>

  <div class="arguments__col panel">
    {{ content.pro }}
    {{ content.con }}
  </div>
</section>
